.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.card-product .card-image {
    position: relative;
}
.material-icons{
    font-size: 2.4em;
    cursor: pointer;
}
.card-product{
    width: 300px;
}
.card-product .card-image .card-title{
    color: black;
    font-weight: 400
}
.cart{
    margin-top:40px;
}
.collection .collection-item{
    display: flex;
}
.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: #ee6e73;
    display: block;
    margin-bottom: 20px;

}
.collection .collection-item img{
    width: 150px;

    margin-right: 25px;
}
.item-desc{
    align-self:center;
}
.card-product .card-image img{
    height: 200px;
}
.btn-floating .material-icons i{
    line-height: 1;
}

.collection .collection-item.avatar {
    padding-left:0;
    .item-img {
        max-width: 300px;
        margin-right: 30px;
        img {
            width: 100%;
        }
    }
    .add-remove {
        button {
            background: transparent;
            border: 0;
            box-shadow: none;
        }
    }
}
